

body {
    font-family:  Arial, sans-serif;
    margin: 40px;
    background-color: #FFFFF0;
}

header {
    text-align: center;
    padding: 15px;
    background-color: #E6E6FA;
    font-size: 2rem;
    position: relative;
    color: #663399;
}

#product-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 20px;
    padding: 20px;
    background-color: #D3D3D3;
}

.product-card {
    background-color: #FFF0F5;
    border-radius: 12px;
    padding: 15px;
    text-align: center;
    transition: transform .25s;
}

.product-card:hover{
    transform: scale(1.05);
    box-shadow: 0 7px 14px rgba(201, 39, 58, 0.24);
    background-color: #F0F8FF;
}

.product-image {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 8px;
    margin-bottom: 10px;
}

.product-name {
    font-size: 1rem;
    font-weight: bold;
    margin-bottom: 4px;
}

.product-price {
    font-size: 0.8rem;
    color: #663399;
}